<div class="video-player-container">
    <div class="main-content">
        <div class="video-section">
            <div class="video-container">
                <video
                    class="video-player"
                    controls
                    preload="metadata"
                    src="video_1/clip.mp4">
                    Your browser does not support the video tag.
                </video>

                <div class="caption-overlay">
                    <div>Video player caption text example</div>
                </div>
            </div>
            <div class="video-buttons">
                <button
                    class="video-button">
                    Clip 1
                </button>
                <button
                    class="video-button">
                    Clip 2
                </button>
            </div>
        </div>
        <div class="transcript-section">
            <h2>Transkript</h2>
            <div class="transcript-container">
                <div class="transcript-item">
                    <div class="timestamp">
                        00:00
                    </div>
                    <div class="caption-text">
                        Caption text example
                    </div>
                </div>
                <div class="transcript-item">
                    <div class="timestamp">
                        00:20
                    </div>
                    <div class="caption-text">
                        Caption text example 2
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>